.fulllocales {
    background-color: #FEFBE9;
}

.locales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .backlocaluno {
        background-color: #183A1D;
        border-radius: 50px;
        box-sizing: border-box;
        height: 98%;
        width: 85%;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        margin-top: 6%;
    
    
    }

    .backlocaldos {
        background-color: #183A1D;
        border-radius: 50px;
        height: 98%;
        width: 85%;
        position: sticky;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        margin-top: 6%;
    }
    
    .fotopalermo {
        width: 70%;
        position: relative;
        margin-left: 15%;
        margin-top: 5%;
    
    }
    
    .fotosantelmo {
        width: 70%;
        position: relative;
        margin-left: 15%;
        margin-top: 5%;
    }
    
    .localesfont {
        font-family: "Inter bold", sans-serif;
        font-weight: 100;
        color:#E1EEDD;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 100%;
        position: relative;
        margin-top: 6.5%;
        margin-bottom: 3%;
    }
    
    .localesfontdos {
        font-family: "Inter", sans-serif;
        font-weight: 100;
        color:#E1EEDD;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 90%;
        position: relative;
        margin-top: 5%;
    }

}





